<app-navbar></app-navbar>
<div class="container mt-4">
<h2>Task List<button class="btn btn-primary float-right mx-4" routerLink="/addtasks">Add Task</button></h2>
<div class="table-responsive">
<table class="table table-bordered table-boxed">
  <thead>
    <tr>
      <th>Task ID</th>
      <th>Task Name</th>
      <th>User ID</th>
      <th>Status</th>
      <th>Project ID</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.taskId }}</td>
      <td>{{ task.taskName }}</td>
      <td>{{ task.userId }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.projectId }}</td>
      <td>{{ task.taskDescription }}</td>
      <td>
        <button class="btn btn-primary mx-1" onclick="updateTask()">Edit</button>
        <button class="btn btn-danger mx-1" onclick="deleteTask()">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

